<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">
	<head>
	
	    <script src="$javascript_folder/jquery-1.10.2.js"></script>
	    <script src="$javascript_folder/jquery-ui.js"></script>
	    <script src="$javascript_folder/respond.min.js"></script>
	    <script src="$javascript_folder/bs-collaps.js"></script>
	    <script src="$javascript_folder/rgdev.js"></script>
	    <script src="$javascript_folder/fancySelect.js"></script>
		<title>$the_title - $company_name</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="$css_folder/custom-unicef.css">
		<link rel="stylesheet" type="text/css" href="$css_folder/jquery-ui.css">
	    <link rel="stylesheet" type="text/css" href="$css_folder/boilerplate.css">
	    <link rel="stylesheet" type="text/css" href="$css_folder/template.css">
	    <link rel="stylesheet" type="text/css" href="$css_folder/responsive-style.css">
	    <link rel="stylesheet" type="text/css" href="$css_folder/regdev.css">
	     <link rel="stylesheet" type="text/css" href="$css_folder/fancySelect.css">
	    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	 
		$theme.include($top_head_include)
	</head>
	<body class="$css_class">
	
	<a href="#main-content" id="skip-to-content">#language ("skip-to-content")</a>
	
	$theme.include($body_top_include)
	
	#if($is_signed_in && $permissionChecker.isOmniadmin())
		#dockbar()
	#end

	#if (!$is_view_top_most_downloads_portlet)
		  	<div class="np-header clearfix">
			  <div class="np-logo clearfix">
				  	<a class="$logo_css_class" href="$site_default_url" title="#language_format ("go-to-x", [$site_name])">
						#if ($site_type != "user-site")
						    <img alt="$logo_description" src="$site_logo" width="$site_logo_width"/>
						#end
						#if ($show_site_name)
							<span class="site-name unicef-site-name" title="#language_format ("go-to-x", [$site_name])">
								$site_name
							</span>
						#end
					</a>	
			  </div>
			  
			#if ("/answers-machine" == $layout.getFriendlyURL())
				<div class="main-head-slogan">Crown Idea Machine - Solutions</div>
			#elseif ("/idea-machine" == $layout.getFriendlyURL())
				<div class="main-head-slogan">Crown Idea Machine - Ideas</div>
			#else	
				<div class="main-head-slogan">Crown Idea Machine</div>	
			#end  
			  
			  
		   #if($site_type != "user-site")
			  <div class="np-menu-block clearfix">
			  		<a href="/group/guest/home" class="np-homeicon" style="  left: 54px !important;">home</a> 
					<a href="/group/guest/search" class="np-searchicon">search</a>
				
 								<a href="#" class="ust-new-menu-icon" data-toggle="n-collapse" data-target="#ust-menu-layer" >menu</a>
 				
			  </div>
			#end  
		</div>
		#end
##<nav id="breadcrumbs">#breadcrumbs()</nav>
	#if ($is_view_top_most_downloads_portlet)
		<div class="container-fluid np-custome-container01" id="wrapper">
			<div id="content">
				<div class="np-portlate-fix02">
				   #if ($selectable)
					$theme.include($content_include)
				   #else
					$portletDisplay.recycle()
				 
					$portletDisplay.setTitle($the_title)
				 
					$theme.wrapPortlet("portlet.vm", $content_include)
				   #end
			   </div>
			  </div>
			  #if ($is_view_top_most_downloads_portlet)
				 <div id="topMostDownloadContainer">
				  #set ($topMostDownloadPortletId = "topdownloadsportlet_WAR_Unicefportlet")
				$theme.runtime($topMostDownloadPortletId, '', $velocityPortletPreferences.toString())
				#set ($VOID = $velocityPortletPreferences.reset())
			 </div>
 		 #end
		  <footer id="footer" role="contentinfo"> </footer>
		</div>
	#else
	   
	 	 
	 	 <div class="container-fluid np-custome-container01" id="wrapper">
	 	
	 	 #set ($rService = $serviceLocator.findService("com.liferay.portal.service.RoleService"))
 		 #set ($usrRoles = $rService.getUserRoles( $user_id ))
	 	 #foreach($usrRole in $usrRoles)
	 	 	#if($usrRole.getName()== "Executive")
	 	 		#set ($val = 0)
	 	 		#set ($role = $usrRole.getName())	
				#break	
			
	 	 	#else
	 	 		#set ($val = 1)
	 	 		#set ($role = $usrRole.getName())
	 	 	#end
	 	 #end
	 	 
	 	 #if($val==0)
	 	 	#parse ("$full_templates_path/navigation.vm")
		 #else
		 	#parse ("$full_templates_path/navigation.vm")
		 #end
	 	 <div id="content">
	 	 	
			  #if($theme_display.getURLCurrent().equalsIgnoreCase("/") || 
			  $theme_display.getURLCurrent().equalsIgnoreCase("/group/guest/home"))
			  	<style> .np-portlate-fix01{margin:0 !important;}</style>
			  	<div class="np-portlate-fix01" >
					#parse ("$full_templates_path/UST_home_page.vm")
				    $theme.include($content_include)
			  #else
			  <div class="np-portlate-fix01">
					$portletDisplay.recycle()
			 
				    $portletDisplay.setTitle($the_title)
			 
				    $theme.wrapPortlet("portlet.vm", $content_include)
			  #end
	  	 </div>
	  </div>
	  
		  #if ($is_view_top_most_downloads_portlet)
			 <div id="topMostDownloadContainer">
				#set ($topMostDownloadPortletId = "topdownloadsportlet_WAR_Unicefportlet")
					$theme.runtime($topMostDownloadPortletId, '', $velocityPortletPreferences.toString())
				#set ($VOID = $velocityPortletPreferences.reset())
		   	</div>
		  #end
	  		<footer id="footer" role="contentinfo">
	  			<div class="ust-newmenu-bottom-links clearfix">
  					<a href="#"  style="text-decoration : none">
  						<span><img src="$themeDisplay.getPathThemeImages()/Inspire.png"  height="55px" width="55px"/></span>
  						<span style="margin-left: 5px">Inspire</span>
  					</a>
  					<a href="#"  style="text-decoration : none">
  						<span><img src="$themeDisplay.getPathThemeImages()/Knowledge.png"  height="55px" width="55px"/></span>
  						<span style="margin-left: 5px">Knowledge</span>
  					</a>
  					<a href="#"  style="text-decoration : none">
  						<span><img src="$themeDisplay.getPathThemeImages()/training.png"  height="55px" width="55px"/></span>
  						<span style="margin-left: 5px">Innovation Training</span>
  					</a>
  					<a href="#"  style="text-decoration : none">
  						<span><img src="$themeDisplay.getPathThemeImages()/about-os-icon.png"  height="55px" width="55px"/></span>
  						<span style="margin-left: 5px">About OS/i</span>
  					</a>
  					<a href="/c/portal/logout"  style="text-decoration : none">
  						<span><img src="$themeDisplay.getPathThemeImages()/exit.png"  height="55px" width="55px"/></span>
  						<span style="margin-left: 5px">Exit</span>
  					</a>
  					
  ##					<a href="#" class="ico-01"><span>About</span></a>
  ##					<a href="#" class="ico-02"><span>Terms</span></a>
  ##					<a href="#" class="ico-03"><span>Help</span></a>
  ##					<a href="#" class="ico-04"><span>Exit</span></a>
  				</div>
	  		</footer>
	 	</div>
	 #end
	
	$theme.include($body_bottom_include)
	
	$theme.include($bottom_include)
	
	</body>
	</html>

<script type="text/javascript">
$(document).ready(function($) {

	

	$(window).resize(function() { 
 
 	     var cwidth = $(".ust-small-imgbox01").width();
     	$('.ust-small-imgbox01').height(cwidth);
     
     	var cwidth02 = $(".ust-small-imgbox01-v2").width();
     	$('.ust-small-imgbox01-v2').height(cwidth02);
  
  		if ($(window).width() > 991) { 
        	 var cheight = $(".ust-rightbox01").height();
         	$('.ust-leftbox01, .ust-idea-box1, .ust-idea-box2').height(cheight);
     	}
         
      	});
    	$(window).trigger('resize'); 

	$("#serach_home").keypress(function(e) {
     		if(e.which == 13) {
         			var key = $('#serach_home').val();
       				console.log("keyword : "+key);
    			if(key != null){
      					var url = '/group/guest/search?keywords='+key; 
    			}else{
      				var url = '/group/guest/search';  
    			}
    				window.location.href= url ; 
     		}
	});
});
</script>
<style>

@media only screen and (min-width:768px) and (max-width:991px) {

#content{ margin-bottom:113px !important;}
}


</style>
