@CHARSET "ISO-8859-1";

.de-popup{ position:relative; cursor:pointer; }
.de-popup-box{ position:absolute; width:796px; height:631px; padding:6px; background-color:#414141; right:265px; bottom:-10px; -webkit-box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.4);
box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.4); opacity:0; visibility:hidden;  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;}
.de-popup:hover >img{ opacity:0.7;}
.de-popup:hover .de-popup-box{ opacity:2; visibility: visible; bottom:0px;  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out; cursor: default;}