@charset "utf-8";
/* CSS Document */

@media only screen and (min-width:300px) and (max-width:480px) {
 
.np-formboxfix01 label{ float:none; width:100%; font-weight:normal; line-height:auto; text-align:left;}
.np-formboxfix01 .form-control{ float:none; width:100%;}
.np-formboxfix02{ width:100%;  margin-top:0;}
.sop-main-line{ display:none;}
.sop-user-imgbox2{ display:none;}
.sop-box01{margin-left:10px; margin-right:10px; margin-top:60px; }
.sop-user-box{ top:0px;}
.sop-head-aero{ width:8px; height:16px; background:url(../images/sop-arrows.png) left top no-repeat; position:absolute; display:block; left:14px; top:-12px; -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);}
 
 .as-form-box1{ width:95%; }
.as-form-box2{width:95%; }
.as-form-box3, .as-form-box4{ width:100%; margin-bottom:8px;}
.as-title02{ line-height:20px;}

 
.sp-qust-userimg{ width:80px; height:80px; position:relative; left:auto; top:auto; border-radius:100px;  border:6px solid #efefef; margin-bottom:20px; }
.sp-qust-box02{ display:block; margin-left:0%;  }

.sp-qust-usertext { 
    left:91px;
    margin: 12px 0 0;
    position: absolute;
    text-align: left;
    top:11px;
    width: 160px;
}
.sp-qust-title01{ font-size:21px;}
.sp-ans-part01 {  width:20%;
}

.np-title05-addedit-block{ position: relative; height:21px; right:auto; width:100%; top:auto; margin-top:13px;}
.np-idea-imgbox01{ float:left; position:relative; left:auto; top:auto;}
.np-idea-title01{  float:left; position:relative; left:auto; top:auto; width:100%; margin-bottom:20px;}
.np-idea-mainbox01{ margin-left:0px;}

}

@media only screen and (min-width:481px) and (max-width:767px) {
.np-formboxfix01 label{ float:none; width:100%; font-weight:normal; line-height:auto; text-align:left;}
.np-formboxfix01 .form-control{ float:none; width:100%;}

.as-form-box1{ width:14%; }
.as-form-box2{width:83%; }

.chat-ansr-box{ margin-left:10%;}

.sp-qust-userimg{ width:80px; height:80px; position:relative; left:auto; top:auto; border-radius:100px; margin-bottom:5px; }
.sp-qust-box02{ display:block; margin-left:0%;  }

.sp-qust-usertext { 
    left:91px;
    margin: 12px 0 0;
    position: absolute;
    text-align: left;
    top:11px;
    width: 220px;
}

.sp-ans-part01 {  width:20%;}

.np-idea-imgbox01{ float:left; position:relative; left:auto; top:auto;}
.np-idea-title01{  float:left; position:relative; left:auto; top:auto; width:100%; margin-bottom:20px;}
.np-idea-mainbox01{ margin-left:0px;}

}


@media only screen and (min-width:768px) and (max-width:991px) {
.sp-qust-userimg{ width:100px; height:100px; position:absolute; left:15px; top:0px; border-radius:100px;  }
.sp-qust-box02{ display:block; margin-left:20%;  }
.sp-ans-part01 {  width:18%;}
.sp-qust-title01 {padding: 15px 0 15px 132px; }
.sp-qust-usertext {left: 133px; }

}


@media only screen and (min-width:992px) and (max-width:1199px) {




}
 
 
 
 